<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о соединении</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" />
</head>
<body>

<h2>Информация о соединении</h2>

<table class="table table-striped caption-top">
    <thead>
    <tr>
        <th>Свойство</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${info}">
        <td th:text="${i.key}">Свойство</td>
        <td th:text="${i.value}">Значение</td>
    </tr>
    </tbody>
</table>

</body>
</html>
