<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" action="/register">
    <input type="text" name="passportNum" placeholder="Паспорт" required>
    <input type="text" name="fullName" placeholder="ФИО" required>
    <input type="text" name="phone" placeholder="Телефон" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <input type="text" name="address" placeholder="Адрес" required>
    <button type="submit">Зарегистрироваться</button>
  </form>
</body>
</html>